
<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEGlfEY93mdbe1pgpDQByPW6SA1c2M6L" crossorigin="anonymous">

    <style>
        body {
            margin: 0;
            padding: 0;
            box-spacing: border-box;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; 
            background-color: #01796F;
           
        }

        li {
            float: left;
            
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                font-size:200%;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #4BA47E;
                }
       
* {
  box-sizing: border-box;
}
img {
            margin: 0px;
            padding:0px;
            margin-left:40px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.baslık{
            margin-left: 250px;
            margin-right: auto;
            width: 50em;
             color: #01796F;
}

.metin{
           font-size:35px;
           color: #01796F;
           top:100px;
           bottom:100px;
}

 .son{
            background-color: #01796F;
         
 }

 .son p{
     font-size:20px;
     color:white;
     
 }

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px;
  margin: 0px;
  top:0px;
}

.try{
    bottom:right;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

 .try{
 position: fixed;
 bottom: 20px; 
 right: 20px; 
 }

</style>
</head>

<body>
    <div class="container mt-5">
        <ul>
            <li><a class="active" href="/">Anasayfa</a></li>
            <li><a href="/Zekat">Zekat</a></li>
            <li><a href="Fidye">Fidye</a></li>
            <li><a href="/About">Hakkımızda</a></li>
            <li><a href="/Comment/GetComments">Yardımlar</a></li>
            <li><a href="/User/login">Giriş yap</a></li>
            <li><a href="/User/add">Kayıt ol</a></li>
        </ul>

    <form id="calculate" method="post" action="Fidye/calculateFidye">
        <div class="form-group">
            <h1>Fidye aşağıda listelenen ürünleri üzeriden verilir. Dilersenin bedelini de verebilirsiniz...</h1>
            <input type="text" class="form-control" name="AileÜyesi" placeholder="Ailenizden kaç kişi adına fidye verdiğinizi giriniz." />

        </div>
        
        <br />
        <div class="row">
            <button type="submit" class="btn btn-primary">Hesapla</button>
        </div>
    </form>
        <form class="try" action="/Fidye" method="get">
        <button type="submit">Yeniden hesaplamak için tıkla.</button>
    </form>
    @if (Model != null && Model.AileÜyesi != 0)
    {
        <div class="alert alert-success mt-3" role="alert">
            <h1>Vermeniz gereken fidye tutarı aşağıda listelenmiştir. İstediğinizi seçip ihtiyaç sahiplerine yardım edebilirsiniz.</h1> @Model.AileÜyesi kişi için
            <p>Arpa ürünü üzerinden vermeniz gereken miktar: </p >@Model.ArpaFiyatı <span>TL</span>
                <p>Un ürünü üzerinden vermeniz gereken miktar: </p>@Model.UnFiyatı <span>TL</span>
                <p>Hurma ürünü üzerinden vermeniz gereken miktar: </p>@Model.HurmaFiyatı <span>TL</span>
                <p>Buğday ürünü üzerinden vermeniz gereken miktar: </p> @Model.BuğdayFiyatı <span>TL</span>
                <p>Kuruüzüm ürünü üzerinden vermeniz gereken miktar: </p> @Model.KuruÜzümFiyatı <span>TL</span>
        </div>
        <h3>Bu ürünlerin fiyatları piyasa ortalamasına göre alınmıştır.</h3>
    }
    else
    {
        <div class="alert alert-info mt-3" role="alert">
            Lütfen Yukarıdaki alanı doldurunuz.
        </div>
    }
    </div>
</body>
 
</html>